{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WikiEnv</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'simplihacks/assets/img/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/simplihacks">EnviropediEnv</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Start Your Search</h1>
                            <form method="post" class="form-subscribe" id="contactForm">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="text" placeholder="Search City" name="city" />
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src={{ icon }} alt="Image" width="100" height="100">
                        <p class="lead mb-0">
                            <span class="title" style="font-size: 35px">{{ city }}</span>
                            <br>
                            <span class="subtitle" style="font-size: 35px">{{ temperature }}°F</span>
                            <br> <span style="font-size: 35px">{{ description }}</span>
                            <br>
                            <span class="aqi" style="font-size: 35px">Air Quality: {{ aqi }}</span>
                            <br>
                            <span class = "carbonMonoxideLevels" style = "font-size: 35px">CO Levels: {{ carbonMonoxideLevels }}</span>
                            <br>
                            <!-- <span class="aqi" style= "font-size: 35px"> Carbon Footprint Rank: {{ index }}</span> -->
                            <br>
                            {% if aqi == 1 or aqi == 2 %}
                                <div class = "alert alert-success" role = "alert">Your air quality is normal. Feel free to go outside and enjoy the day!</div>
                            {% endif %}
                            {% if aqi == 3 or aqi == 4 %}
                                <div class = "alert alert-warning" role = "alert">Your air quality is slightly unsafe. It is safe to go outside, but you may experience some discomfort.</div>
                            {% endif %}
                            {% if aqi == 5 %}
                                <div class = "alert alert-danger" role = "alert">Your air quality is dangerous. Please consider staying inside, especially if you have respiratory illnesses.</div>
                            {% endif %}
                            {% if aqi == 6 %}
                                <div class = "alert alert-danger" role = "alert">Your air quality is very dangerous. Please consider staying inside.</div>
                            {% endif %}
                            {% if aqi > 2 %}
                                <h1>Environment Tips</h1>
                                <ul style="list-style: none; font-size: 20px;">
                                    <li>
                                        Limit consumption of meat
                                    </li>
                                    <li>
                                        Use public transportation
                                    </li>
                                    <li>
                                        Take short showers
                                    </li>
                                    <li>
                                        Turn off lights when they are not being used
                                    </li>
                                </ul>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <iframe class="embed-responsive-item" src="https://en.wikipedia.org/wiki/{{ city }}#Climate" height="700px" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>Learn More</h1>
                        <p style="font-size: 25px;">Learn about climate events in this region and how to support relief efforts.</p>
                        <h1>Organizations</h1>
                        <ul style="list-style: none; font-size: 25px;">
                            <li>
                                 <a href="https://www.redcross.org/about-us/our-work/disaster-relief.html">Red Cross</a>
                            </li>
                            <li>
                                <a href="https://www.salvationarmyusa.org/usn/">Salvation Army</a>
                            </li>
                            <li>
                                <a href="https://secure.feedthechildren.org/site/Donation2?1400.donation=form1&df_id=1400">Feed The Children</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        {% if country == "India" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/2022-south-asian-floods/" height="700px" width="100%"></iframe>
                        {% elif country == "United States of America" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/2022-north-american-wildfires/" height="700px" width="100%"></iframe>
                        {% elif country == "Australia" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/2022-australian-flooding/" height="700px" width="100%"></iframe>
                        {% elif country == "Brazil" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/2022-brazil-mudslides/" height="700px" width="100%"></iframe>
                        {% elif country == "South Korea" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/south-korean-wildfires/" height="700px" width="100%"></iframe>
                        {% elif country == "Indonesia" %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/mount-semeru-eruption-indonesia/" height="700px" width="100%"></iframe>
                        {% else %}
                            <iframe class="embed-responsive-item" src="https://disasterphilanthropy.org/disasters/" height="700px" width="100%"></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>

            <p>Created by Chris Cao, Shourya Chhabra, Raymond Huang, and Shreyas Nair</p>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>